body {
  background-image: linear-gradient(
      to bottom,
      rgb(255 255 0 / 50%),
      rgb(0 0 255 / 50%)
    ),
    url("background.jpg");

  line-height: 1.7;
  width: 825px;
  margin: 50px auto;
}
.head {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-decoration: underline;
  text-shadow: 5px 5px 10px rgb(98, 78, 78);
}
.all-info {
  color: rgb(195, 9, 49);
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto 0;
  cursor: pointer;
  text-decoration: overline;

  font-style: italic;
}

.all-info:hover {
  color: blue;
}

.all-info:active {
  color: blue;
}

.name {
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 5px 5px 10px rosybrown;
}

.pic {
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  height: auto;
  border: 5px solid red;
  display: inline-block;

  filter: drop-shadow(10px 10px 2px pink);
}

.little {
  text-transform: uppercase;

  font-family: sans-serif;
  font-size: 15px;
  padding-top: 20px;
  /* border: 2px dotted lightblue; */
  text-align: center;
  scroll-behavior: smooth;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.about {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
  font-size: 30px;
}
.info {
  font-family: sans-serif;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 20px rosybrown;
  padding: 20px;
}

.me {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: aqua;
  padding: 20px;
  /* position: relative; */
}
.dev {
  padding: 10px;
  margin-top: 20px;
  /* position: absolute; */
  /* bottom: 30px 0;
  right: 20px 10px; */
  display: block;
  margin-left: 15px;
  margin-top: 2px;
  background-color: rgba(91, 206, 112, 0.839);
  text-decoration: none;
}

.dev:hover {
  cursor: pointer;
  background-color: rgb(150, 172, 244);
}

.insta {
  text-decoration: none;
}
